@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/highlighter.css">
<script src="~/DifferLibJS/Assert.js"></script>
<script src="~/DifferLibJS/Differ.js"></script>
<script src="~/DifferLibJS/Differ.Test.js"></script>
<script src="~/DifferLibJS/Highlighter.js"></script>
<script src="~/DifferLibJS/Highlighter.Test.js"></script>
<script src="~/DifferLibJS/TestsRunner.js"></script>

<form method="post" class="column">
    <div class="wrapper">
        <div class="before"><textarea id="before" name="before" rows="20" cols="100">@Model.Before</textarea></div>
        <div class="after"><textarea id="after" name="after" rows="20" cols="100">@Model.After</textarea></div>
        <div class="submit"><input type="submit" value="Compute" /></div>
        <div class="jsLib"><input type="button" value="Run JS test" onclick="runJsTests();" /></div>
        <table class="computed">
            @for (int i = 0, beforeIndex = 0, afterIndex = 0; i < Model.Highlighted.Length; ++i)
            {
                <tr>
                    @if (Model.Highlighted[i].Before != null)
                    {
                        beforeIndex += 1;
                        <td class="lineNumberBlock">@beforeIndex</td>
                        <td class="@(Model.Highlighted[i].Before.Count > 1 ? "deleteLine":"")">
                            @for (var b = 0; b < Model.Highlighted[i].Before.Count; ++b)
                            {
                                @if (b % 2 == 0)
                                {<span class="">@Model.Highlighted[i].Before[b]</span>}
                                else
                                {<span class="deleteBlock">@Model.Highlighted[i].Before[b]</span>}
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                    @if (Model.Highlighted[i].After != null)
                    {
                        afterIndex += 1;
                        <td class="lineNumberBlock">@afterIndex</td>
                        <td class="@(Model.Highlighted[i].After.Count > 1 ? "insertLine":"")">
                            @for (var b = 0; b < Model.Highlighted[i].After.Count; ++b)
                            {
                                @if (b % 2 == 0)
                                {<span class="">@Model.Highlighted[i].After[b]</span>}
                                else
                                {<span class="insertBlock">@Model.Highlighted[i].After[b]</span>}
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        </table>
    </div>
</form>
